<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mycv</title>
    <link rel="stylesheet" href="/styles.css">
    <!--https://themes.3rdwavemedia.com/demo/bs5/risen/-->
</head>
<body>
    
    <div class="header">
        <ul>
            <li><a href=""><img src="/imgs/facebook (1).svg" alt=""></a></li>
            <li><a href=""><img src="/imgs/GitHub_dark.svg" alt=""></a></li>
            <li><a href=""><img src="/imgs/linkedin.svg" alt=""></a></li>
            <li><a href=""><img src="/imgs/tiktok.svg" alt=""></a></li>
        </ul> 
    </div>
    <div class="container-main">
        <div class="main">
            <div class="name">
                <img src="/imgs/foto.jpg" alt="">
                <h2>LUIS ENRIQUE</h2>
                <div class="name-text" style="color: #A5B3CE;" >
                    WEB DEVELOPER
                </div>
                <div class="info" style="color: #A5B3CE;">
                    <ul>
                        <li>900184348</li>
                        <li>luisleon7677@gmail.com</li>
                        <li>www.mywebsite.com</li>
                    </ul>
                </div>
            </div>
            <div class="content-main">
                <div class="content-left">

                </div>
                <div class="content-right">
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>