@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #19202E;
    font-family:"PT Serif", serif; 
}
h2{
    color: white;
}
p{
    color: #A5B3CE;
}


/*header block*/
.header{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}
.header ul{
    display: flex;
    list-style: none;
}
.header li{
    margin: auto 15px;
}
.header ul li a img{
    width: 20px;
}
/*end header block*/

/*Container Main*/
.container-main{
    
    display: flex;
    justify-content: center;
    padding-top: 50px;
    
}
.main{
    
    height: 900px; /*change by auto*/
    background-color: #1E2738;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    position: relative;
}
.name{
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    
}
.name h2{
    color: white;
    font-size:40px;
    margin-bottom: 15px;
}
.name-text{
    font-size: 25px;
    font-weight: 700;
}
.info{
    border-bottom: 1px solid #A5B3CE;
    border-top: 1px solid #A5B3CE;
    margin-top: 30px;
    width: 90%;
    position: relative;
    
    
}
.name .info ul{
    display: flex;
    list-style: none;
    justify-content: center;
   
}
.name .info li{
    margin: 15px 30px;

}
.name img{
    position: absolute;
    width: 130px;
    height: 130px; /* Asegura que sea cuadrada */
    border-radius: 50%; /* Hace que los bordes sean redondos */
    object-fit: cover; /* Para que la imagen no se deforme */
    top: -50px;
    border: 10px solid #1E2738;
}

/*End Container Main*/

/*Content-main*/
.content-main{
   width: 100%;
   border: 1px solid #A5B3CE;
   height: 700px;/*change to auto*/
   display: grid;
   grid-template-columns: 65% 35%;
}
.content-left{
    border: 1px solid #A5B3CE;
}
.content-right{
    border: 1px solid #A5B3CE;
}
/*End Content-main*/
/*works*/
.content-left .about{
    border: 1px solid white;
    margin: 40px;
}
/*end works*/

/*Brack points*/

@media (max-width:576px ) {
    .main{
        width: 90%;
    }
    .container-main{
        width: 100%;  
    }
    .info{
        width: 100%;       
    }
    .name .info ul{
        flex-wrap: wrap;
    }
    .name .info li{
        margin: 15px 30px;
    
    }
    
}
@media (max-width:992px ) {
    .info{
        width: 100%;       
    }
}
/**/